/* Helpers Style */
/* Text */
.section-title,
h1 {
    font-size: 1.125rem;
    font-weight: bold;
    color: var(--c-info);
    padding-top: .875rem;
    margin-bottom: 1.5rem;
    margin-top: 0;
    font-family: 'Conv_apercu_bold', 'Helvetica', 'Sans-Serif', 'Arial';
}

.section-title::before,
h1::before {
    display: block;
    content: '';
    height: .25rem;
    width: 3.5rem;
    margin-bottom: .875rem;
    background-color: var(--c-info);
}

/* CP Load in animation */

.slide-in {
    opacity: 0;
    animation: slide-in .3s ease-out .1s forwards;
}

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}

/* End Helpers Style */
.flex-row {
    display: flex;
    flex-direction: row;
}

.space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-end {
    justify-content: end;
}

.align-items-center {
    align-items: center;
}

.align-items-start {
    align-items: start;
}

.flex-wrap {
    flex-wrap: wrap;
}

.flex-auto {
    flex: auto;
}

.btn-large {
    min-width: 136px;
}

/* spinner */
.input-spinner {
    border: 1px solid var(--c-gray3);
    border-top: 1px solid var(--c-primary);
    border-radius: 50%;
    animation: spin 2s linear infinite;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 0;
    margin-top: 5px;
    margin-right: 20px;
    z-index: 1;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}